.vscode/
.fleet/
.idea/
II Anno/SO/Slides/.~lock.laboratorio2.pptx\#
II_Anno/SO/Laboratorio/Pietro/a.out
II_Anno/POO/Laboratorio/Pietro/geometria/Triangolo.class
*.class
II_Anno/Primo_Semestre/BD(Professori Polese, Caruccio, BB)/Progetti/2023-2024/Peppe-Pasquale/411433091_3194720867497275_3707019583449221832_n.jpg
