* {
	
}

table {
	width: 100%;
	border-collapse: none;
	overflow-x: scroll; 
}

td {
	text-align: center;
	padding: 5px;
	height: 10%;
}

@media all and (max-width:760px){
	td {
		flex: 1 0 200px;
	}
}

.img-cart {
	height:100px;
}

.inputQuan {
  vertical-align: middle;
  background: #EEE;
  border: none;
  outline: none;
  width: 80%;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 9999px;
  transition: 200ms ease-in-out;
  box-shadow: inset 2px 5px 10px #ccc;
  display: inline;
  height: 2vh;
  margin-top: 40px;
}

.inputQuan:focus{
  background: transparent;
}

.button2 {
  position: relative;
  margin: 0 auto;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  width: 30%;
}


.button2:hover {
    color: #164ca7;
    border-color: #164ca7;
}

.button22 {
  position: relative;
  min-width: 100px;
  margin: 0 10%;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  width: 100%;
}


.button22:hover {
    color: #164ca7;
    border-color: #164ca7;
}

.button222 {
  position: relative;
  margin: 0 auto;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-family: inherit;
  z-index: 10;
  overflow: hidden;
  width: 10%;
}


.button222:hover {
    color: #164ca7;
    border-color: #164ca7;
}