.data-consegna-p {
    font-size: large;
    font-weight: bold;
}

.box {
    display: grid;
    grid-template-rows: auto ;
    padding-right: 20%;
    padding-bottom: 15%;
}

.metodo-di-pagamento {
    padding: 1px 15px 5px 5px;
    width: 500px;
    line-height: 150%;
}

.indirizzo-spedizione {
    padding: 1px 15px 5px 5px;
    width: 500px;
    line-height: 200%;
}

.immagine-prodotto {
    width: 20%;
    height: auto;
}

.metodo-body input:disabled {
	color: black;
	font-style:italic;
	cursor: no-drop;
}

input[type="text"] {
    width: 20%; /* Larghezza desiderata */
    border-radius: 10px; /* Arrotondamento dei bordi */
    padding: 5px; /* Spazio interno per migliorare l'aspetto */
}

.invalid-input {
    border-color: red;
}


.td {
	display: flex;
	justify-content: center;
    text-align: center;
}