/* CSS per centrare gli elementi error-image, error-message e error-button */
.error-container {
  width: 100%;
  text-align: center;
}

.error-image {
  width: 30%;
  margin: 0 35%;
  text-align: center;
}

.error-content {
  text-align: center;
}

.error-message {
  margin: 2vh 10%;
  font-size:4em;
  text-align: center;
}

.error-button {
  margin: 0 38.5%;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #0000d7;
  font-size: 2em;
  text-align: center;
}

@media all and (max-width: 768px){
	.error-message {
		font-size: 1.5em;
	}
	.error-button {
		font-size: 1em;
	}
}