footer {
  background-color: #181818;
  text-align: center;
  padding: 18px 20px;
  margin: 1% -1% -1%;
  display: block;
  bottom: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
}

footer a:hover {
  color: #ff9229;
}