@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.defNav {
  height: 11vh;
  position: sticky;
  z-index: 9999999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex; /* Imposta il contenitore "defNav" come flex container */
  justify-content: space-between; /* Spazia gli elementi in modo uniforme lungo la riga */
  align-items: center; /* Centra gli elementi verticalmente */
}

.logo-container {
  /* Puoi rimuovere l'altezza esplicita, poiché il contenitore adatta ora l'altezza in base al contenuto */
  /* height: 100%; */
  display: flex; /* Imposta "logo-container" come flex container */
  align-items: center; /* Centra il contenuto verticalmente */
	margin-right: auto;
}
.right-container {
  display: flex; /* Imposta "right-container" come flex container */
  align-items: center; /* Centra il contenuto verticalmente */
  margin-left: auto;
}

.logo {
  width: 9vh;
  aspect-ratio: 1/1;
  object-fit: contain;
	  margin-left: 1vh; /* Usa il margine sinistro per aggiungere spazio tra il logo e il contenitore */
	  filter: none;
	transition: 0.7s ease-in-out;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.logo.lo {
	filter: grayscale(100%);
}

.logo.lo:hover {
	filter: none;
}

.esci {
	width: 5vh;
	aspect-ratio: 1/1;
	object-fit: contain;
	margin-left: 1vh;
	/* Usa il margine sinistro per aggiungere spazio tra il logo e il contenitore */
	filter: grayscale(100%);
	transition: 0.7s ease-in-out;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.esci:hover {
	filter: none;
}

.whiTee {
  color: #4ed0da ;
}

body {
	overflow-x: hidden;
  	overflow-y: auto;
  	transition: background-color .5s;
}

nav {
    min-height: 10vh;
    overflow: hidden;
    background-color: #FFFEFF;
    position: sticky;
    top: 0;
    margin-left: .1vh;
    width: 100%;
    z-index: 104;
    align-items: center;
}

nav .a {
    color: #181818;
    float: left;
    text-decoration: none;
    letter-spacing: .05rem;
    font-size: 1.1rem;
    min-height: 10vh;
    line-height: 10vh;
    padding: 0.5vh 2.5vh 0.5vh 2.5vh;
    flex: 1;
    text-align: center;
}

nav .a:hover {
	color: #ff9229;
    background-color: #e2e2e2;
}

nav .nav-right {
  float: right;
  left: 50%;
  display: inline-block;
}

.cart {
	width: 9vh;
	height: 9vh;
	filter: brightness(0%);
	transition: filter 0.7s;
	cursor: pointer;
}

.cart:hover{
	filter: none;
}

.searchForm {
	display: inline;
	vertical-align: middle;
	align-items: center;
	padding-bottom: 7vh;
}

.searchForm .inputSearch {
  vertical-align: middle;
  background: #EEE;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 9999px;
  transition: 200ms ease-in-out;
  box-shadow: inset 2px 5px 10px #ccc;
  display: inline;
  height: 4vh;
  margin-top: 40px;
}

.searchForm .inputSearch:focus{
  background: transparent;
}

.searchForm .srcImg {
	width: 20px;
	height: 20px;
}

.search-img {
    width: 15%
}

.nessun-articolo {
    align-content: center;
}

@media all and (min-width: 768px) {
	.sidenav, .sidenav a, .sidenav .closebtn, #main {
		display: none;
	}
	
.menu-container {
  display: flex; /* Imposta "menu-container" come flex container */
  align-items: center; /* Centra il contenuto verticalmente */
  margin-left: auto;
  margin-right: auto;
}
	
}

@media all and (max-width: 769px) {
	
.menu-container {
  display: none;
}
	
	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  right: 0;
	  background: rgb(45,162,255);
	  background: linear-gradient(180deg, rgba(255,149,43,1) 0%, rgba(255,172,89,1) 15%, rgba(45,162,255,1) 100%);
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	  text-align: right;
	  display: inline;
	}
	
	.sidenav a {
	  padding: 8px 32px 8px 8px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #000000;
	  display: block;
	  transition: 0.3s;
	  background: transparent;
	}
	
	.sidenav a:hover {
	  color: #000000b6;
	  background: transparent;
	}
	
	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 2vw;
	  font-size: 10vh;
	  margin-right: 20px;
	  transform: translateX(100%);
	  background: transparent;
	  text-align: right;
	}
	
	#main {
	  transition: margin-right .5s;
	  text-align: right;
	  background: transparent;
	  display: inline;
	  padding: 16px 16px 7vh;
	  vertical-align: middle;
	  align-items: center;
	}
	
	#main span {
		font-size: 40vh;
	}

}


  
.btn {
    position: relative;
    float: right;
    background-color: #FFFFFF;
    color: #252525;
    padding: 2%;
    font-size: 3vh;
    border: none;
    cursor: pointer;
    width: 20vh;
}

.dropdown.b {
	margin-top: 1.5vh;
    float: right;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
    margin-top: -2vh;
    margin-right: 0.5vh;
    border-radius: 0% 0% 15% 15%;
}

.dropdown-content a {
    color: black;
    padding: 2vh;
    margin-top: -1vh;
    text-decoration: none;
    display: block;
}

.dropdown.b:hover .dropdown-content {
    display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}