* {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	left: 0;
	right: 0;
	aspect-ratio: 3/1;
}

.slider {
	position: relative;
	width: 100%;
	aspect-ratio: 3/1;
	object-fit: cover;
}

.img-per-slider {
	position: relative;
	width: 100%;
	aspect-ratio: 3/1;
	z-index: 1;
}

a {
	text-decoration: none;
}

.img-per-slider img {
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: opacity 0.5s ease;
	aspect-ratio: 3/1;
	object-fit: fill;
}

.img-per-slider img.active {
	opacity: 1;
}

.slider-button-container {
	position: absolute;
	top: 75%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	z-index: 2;
	height: 75%;
}

.slider-button-container button {
	font-size: 100%;
	background: transparent;
	padding: 8px 16px;
	cursor: pointer;
	border: none;
	width: 25%;
	height: 30%;
	color: rgba(255, 255, 255, 0.20);
	position: relative;
	z-index: 1;
}

.slider-button-container button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: transparent;
}

.negative{
	opacity: 35%;
	filter: invert(1);
}

.right img, .left img {
	height: 20vh;
	position: relative;
	z-index: 2;
}

.left img {
	text-align: left;
	margin-left: 15%;
}

.right img {
	text-align: right;
	margin-right: 15%;
}

@media all and (min-height: 2000px) {
	.right img, .left img {
		height: 300px;
		position: relative;
		z-index: 2;
	}
}

.cat-Title {
	margin: 1%;
	margin-left: 3%;
	margin-top: 3%;
}

.cat-Title a {
	text-decoration: none;
	color: black;
	
}

.slider-categories {
	display: flex;
	overflow: hidden;
	justify-content: center;
	padding-left: 20%;
}

.slide-category {
	flex: 0 0 33.33%;
	transition: transform 0.3s ease;
	padding-left: 2%;
	padding-top: 3%;
}

@media all and (max-width : 768px) {
	.slider-categories {
		display: flex;
		overflow: hidden;
		justify-content: center;
		padding-left: 60%;
	}
	.slide-category {
		flex: 0 0 80%;
		transition: transform 0.3s ease;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 5%;
	}
	.card-text {
		display: none;
	}
}

.card {
	width: 80%;
	height: auto;
	aspect-ratio: 1/1;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-image {
	height: 40%;
	width: 40%;
	object-fit: contain;
	filter: brightness(80%);
	transition: 0.3s ease-in-out;
}
.card:hover .card-image {
	filter: none;
}
.card-text {
	margin-top: 10%;
	text-align: center;
	font-weight: bolder;
	color: #606060;
	transition: 0.3s ease-in-out;
}

.card:hover .card-text {
	color: white;
}

select {
    justify-content: center;
    text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button-cat {
	margin: 0 10px;
	background: transparent;
	border: none;
	cursor: pointer;
}

#cat-1 .card {
	background-color: #f0c5f3;
	transition: background-color 0.3s ease-in-out;
}

#cat-1 .card:hover {
	background-color: #e38ad1;
}

#cat-2 .card {
	background-color: #b9ffde;
	transition: background-color 0.3s ease-in-out;
}

#cat-2 .card:hover {
	background-color: #80ffc2;
}

#cat-3 .card {
	background-color: #a6efff;
	transition: background-color 0.3s ease-in-out;
}

#cat-3 .card:hover {
	background-color: #53e1ff;
}

#cat-4 .card {
	background-color: #ffa8d3;
	transition: background-color 0.3s ease-in-out;
}

#cat-4 .card:hover {
	background-color: #ff80c0;
}


.magliette {
	display: flex;
	overflow: hidden;
	justify-content: center;
	padding-left: 150%;
}


@media all and (max-width : 768px) {
	.magliette {
		display: flex;
		overflow: hidden;
		justify-content: center;
		padding-left: 435%;
	}
	.elemento {
		flex: 0 0 80%;
		transition: transform 0.3s ease;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 5%;
	}
}

.elemento{
	flex: 0 0 33.33%;
	transition: transform 0.3s ease;
	padding-left: 2%;
	padding-top: 3%;
	aspect-ratio: 2/1;
	width: 200px;
	margin-left: 35vh;
}

.maglietta img{
	aspect-ratio:1/1;
	width: auto;
	height: 200px;
	object-fit: contain;
	
}

#prodotti tr th,
#prodotti tr td {
  table-layout: fixed;
}

#prodotti tr td {
  padding-left: 2%;
}


#inserisci {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#inserisci .input.text {
  background-color: #dddddd;
  border-radius: 2%;
}

.niente{
	font-size:20%;
	/*display: center;*/
	font-weight:bold;
}

/* bottone acquisti*/
.button, .button2 {
  position: relative;
  margin: 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  width: 100%;
}

.button {
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.button2:hover {
    color: #164ca7;
    border-color: #164ca7;
}

.button span {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: storm1261 0.7s ease-in-out both;
}

.button lord-icon {
	height: 18px;
	width: 18px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

.button:hover lord-icon {
	filter: none;	
}


.button:hover{
  animation: rotate624 0.7s ease-in-out both;
}

.button:hover span {
  animation-delay: 0.06s;
  color: #164ca7;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(22, 76, 167, 0.6);
    color: #1d89ff;
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* bottone modifica*/
.button.green-btn-shine {
  position: relative;
  margin: 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100%;
}

.button.green-btn-shine span {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: greenstorm1261 0.7s ease-in-out both;
}

.button.green-btn-shine lord-icon {
	height: 18px;
	width: 18px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

.button.green-btn-shine:hover lord-icon {
	filter: none;	
}


.button.green-btn-shine:hover {
  animation: greenrotate624 0.7s ease-in-out both;
}

.button.green-btn-shine:hover span {
  animation-delay: 0.06s;
  color: #0c8125;
}

@keyframes greenrotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(48, 185, 13, 0.795);
    color: #0c8125;
  }
}

@keyframes greenstorm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.green-btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.green-btn-shine span {
  z-index: 20;
}

.green-btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.green-btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* bottone cancella*/
.button.red-btn-shine {
  position: relative;
  margin: 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100%;
}

.button.red-btn-shine span {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: redstorm1261 0.7s ease-in-out both;
}

.button.red-btn-shine lord-icon {
	height: 18px;
	width: 18px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

.button.red-btn-shine:hover lord-icon {
	filter: none;	
}


.button.red-btn-shine:hover {
  animation: redrotate624 0.7s ease-in-out both;
}

.button.red-btn-shine:hover span {
  animation-delay: 0.06s;
  color: #810c0c;
}

@keyframes redrotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(185, 13, 13, 0.795);
    color: #810c0c;
  }
}

@keyframes redstorm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.red-btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.red-btn-shine span {
  z-index: 20;
}

.red-btn-shine:after {
  background: #ff4747;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.red-btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.cento {
	width:100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.vis {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 3vh;
	font-size: 1em;
	text-decoration: none;
	color: black;
}


