body{
	overflow-x: hidden;
	overflow-y: scroll;
}

.index-header {
  padding-left: 3vw;
}

a {
  text-decoration: none;
  color: black;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  margin-bottom: 10px;
}

tr#element th,
tr#element td {
  text-align: center;
  align-content: center;
  align-items: center;
}

tr#drop td {
  text-align: right;
}

#prodotti {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input,
select {
  margin-bottom: 1%;
}

td img {
  height: 30vh;
  width: auto;
  transition: filter 0.5s linear;
}

  
.dropbtn {
    position: relative;
    float: right;
    background-color: #FFFFFF;
    color: #252525;
    padding: 2%;
    font-size: 3vh;
    border: none;
    cursor: pointer;
    width: 20vh;
}

.dropdown.b:hover .dropbtn {
  background-color: #8f8f8f;
}

.dropdown.b {
    float: right;
    margin-top: -5vh;
    margin-right: 10vh;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.b:hover .dropdown-content {
    display: block;
}

.magliette{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.elemento{
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: 2/1;
	width: 200px;
	flex-basis: calc(100% / 4);
}

.maglietta img{
	aspect-ratio:1/1;
	width: auto;
	height: 200px;
	object-fit: contain;
	
}

#prodotti tr th,
#prodotti tr td {
  table-layout: fixed;
}

#prodotti tr td {
  padding-left: 2%;
}

#inserisci {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#inserisci .input.text {
  background-color: #dddddd;
  border-radius: 2%;
}

.taglie {
  display: inline;
}

select {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 9px;
  color: #000000;
  text-align: center;
}

.aggiungi-maglietta .button {
  display: inline-flex;
}

.niente{
	font-size:20%;
	/*display: center;*/
	font-weight:bold;
}

/* bottone acquisti*/
.button {
  position: relative;
  margin: 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100%;
}

.button span {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: storm1261 0.7s ease-in-out both;
}

.button lord-icon {
	height: 18px;
	width: 18px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

.button:hover lord-icon {
	filter: none;	
}


.button:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.button:hover span {
  animation-delay: 0.06s;
  color: #164ca7;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(22, 76, 167, 0.6);
    color: #1d89ff;
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* bottone modifica*/
.button.green-btn-shine {
  position: relative;
  margin: 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100%;
}

.button.green-btn-shine span {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: greenstorm1261 0.7s ease-in-out both;
}

.button.green-btn-shine lord-icon {
	height: 18px;
	width: 18px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

.button.green-btn-shine:hover lord-icon {
	filter: none;	
}


.button.green-btn-shine:hover {
  animation: greenrotate624 0.7s ease-in-out both;
}

.button.green-btn-shine:hover span {
  animation-delay: 0.06s;
  color: #0c8125;
}

@keyframes greenrotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(48, 185, 13, 0.795);
    color: #0c8125;
  }
}

@keyframes greenstorm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.green-btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.green-btn-shine span {
  z-index: 20;
}

.green-btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.green-btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* bottone cancella*/
.button.red-btn-shine {
  position: relative;
  margin: 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100%;
}

.button.red-btn-shine span {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: redstorm1261 0.7s ease-in-out both;
}

.button.red-btn-shine lord-icon {
	height: 18px;
	width: 18px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

.button.red-btn-shine:hover lord-icon {
	filter: none;	
}


.button.red-btn-shine:hover {
  animation: redrotate624 0.7s ease-in-out both;
}

.button.red-btn-shine:hover span {
  animation-delay: 0.06s;
  color: #810c0c;
}

@keyframes redrotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(185, 13, 13, 0.795);
    color: #810c0c;
  }
}

@keyframes redstorm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.red-btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.red-btn-shine span {
  z-index: 20;
}

.red-btn-shine:after {
  background: #ff4747;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.red-btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
