:root {
  --testo: 3vh;
}

.buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.logSig {
	z-index: 1;
	height: 120vh;
	width: 150vh;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 8vh;
	display: block;
}

.form-container {
	box-sizing: border-box;
}

.form-container form #head {
	font-size: 7vh;
	margin-bottom: 1vh;
}

.form-container form p a {
	text-decoration: none;
}

img#imgLogSig {
	padding-top: 5%;
	padding-bottom: auto;
	height: 79vh;
	width: auto;
	float: left;
}

#lbutton, #sbutton {
	outline: none;
	cursor: pointer;
	border: none;
	padding: 0.9rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
	letter-spacing: 0.05rem;
	font-weight: 700;
	overflow: hidden;
}

#lbutton:hover, #sbutton:hover {
	color: black;
}

#lform, #sform {
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
}

.group {
	position: relative;
}

input {
	font-size: var(--testo);
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid #757575;
}

input:focus {
	outline: none;
	background-color: transparent;
}

/* LABEL ======================================= */
label {
	color: #999;
	font-size: 3.5vh;
	font-weight: normal;
	position: relative;
	pointer-events: none;
	left: 5px;
	top: -5vh;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	background-color: white;
	box-shadow: 0 0 10% rgba(0, 0, 0, 0.2);
}

/* active state */
input:focus ~ label, input:valid ~ label {
	top: -10vh;
	font-size: 2vh;
	color: #5264AE;
}
.button2 {
  position: relative;
  margin: 0 auto 0 0;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  width: 30%;
}


.button2:hover {
    color: #164ca7;
    border-color: #164ca7;
}
.button3 {
  position: relative;
  margin: 0 17% 0 auto;
  padding: 0.5% 1%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  width: 30%;
}


.button3:hover {
    color: #164ca7;
    border-color: #164ca7;
}