.container {
	position: relative;
	width: 100%;
	height: 90%;
      display: flex;
      flex-direction: row;
}

.tshirt-div {
  margin-left: 15%;
  width: 30%;
  height: auto;
  position: relative;
  background-color: #fff;
  margin-right: 5%;
  
}

#tshirt-backgroundpicture {
	background-color: white;
	width: 100%;
	height: auto;
	
}

#tshirt-new {
	position: absolute; 
	top: 40%; 
	left: 48%; 
	transform: translate(-50%, -50%); 
	width: 40%;
}

select {
	border: none;
	background: #efefef;
	border-radius: 5px;
	height: 30px;
}

select:hover option:hover {
	background: white;
}

input {
	border: none;
	border-radius: 5px;
	height: 4vh;
}


/* bottone acquisti*/
button {
  position: relative;
  margin: 0;
  padding: 1% 2%;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
  animation: storm1261 0.7s ease-in-out both;
}

button lord-icon {
	height: 40px;
	width: 40px;
	z-index: 20;
	filter: brightness(0%);
	animation: filter 0.7s;
}

button:hover lord-icon {
	filter: none;	
}


button:hover {
  animation: rotate624 0.7s ease-in-out both;
}

button:hover span {
  animation-delay: 0.06s;
  color: #164ca7;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    border: 1px solid rgba(22, 76, 167, 0.6);
    color: #1d89ff;
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
    
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}


.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

