body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profilo {
    margin-top: 20px;
}

.indirizzo-e-header {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.inputQuan {
    vertical-align: middle;
    background: #EEE;
    border: none;
    outline: none;
    width: 80%;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 9999px;
    transition: 200ms ease-in-out;
    box-shadow: inset 2px 5px 10px #ccc;
    display: inline;
    height: 2vh;
    margin-top: 40px;
}
/* Intestazione */
.utente-header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
}

.metodo-di-pagamento, .indirizzo {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.pagamento-body-no-modifica input, .indirizzo-body input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.modifica-indirizzo {
    margin-top: 10px;
}

.pagamento-header, .indirizzo-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pagamento-body, .indirizzo-body {
    margin-bottom: 10px;
}

.pagamento-body label, .indirizzo-body label {
    display: block;
    margin-bottom: 5px;
}

.button {
    position: relative;
    margin: 0;
    padding: 0.5% 1%;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #000000;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    width: 50%;
}

.button:hover {
    color: #164ca7;
    border-color: #164ca7;
}

/* Ordini */
.ordini {
    background-color: #f9f9f9;
    padding: 20px;
}

.ordini table {
    width: 100%;
    border-collapse: collapse;
}

.ordini table th,
.ordini table td {
    padding: 8px;
    text-align: left;
}

.header-ordini  {
    background-color: #ff9229;
    color: white;
    border-radius: 7%;
}

.ordini table td img {
    max-width: 100px;
}

.acquisti {
    display: none;
}