<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="layout template responsive">
	<meta name="author" content="Michele Risi">
	
	<title>Layout template</title>
	
	<link href="layout.css" type="text/css" rel="stylesheet">	
</head>
<body>
	<header class="top">HEADER
		<img src="layout.png">
	</header>
	
	<nav>
		<div id="menu"></div>
		<ul>
			<li class="selected"><a href="#">Home</a></li>
			<li><a href="#">Info</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">File</a></li>
			<li><a href="#">Edit</a></li>
			<li><a href="#">Source</a></li>
			<li><a href="#">Navigate</a></li>	
			<li><a href="#">Project</a></li>
			<li><a href="#">Run</a></li>	
			<li><a href="#">Window</a></li>		
			<li><a href="#">Help</a></li>									
		</ul>
	</nav>
	
	<div id="tableContainer">
		<div id="tableRow">
			<section id="left">
				<header>LEFT</header>
				<ul>
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					<li>Item 4</li>
				</ul>
			</section>
			
			<section>
				<header>MIDDLE HEADER 1</header>
				<article>This is the 1st middle paragraph</article>
				<footer>MIDDLE FOOTER 1</footer>
			</section>
			<hr>
			<section>
				<header>MIDDLE HEADER 2</header>
				<article>This is the 2nd middle paragraph</article>
				<footer>MIDDLE FOOTER 2</footer>
			</section>	
					
			<aside>ASIDE</aside>
		</div>
	</div>
	
	<div id="multiColumn">
		<div id="bar1">First sidebar</div>
		<div id="bar2">Second sidebar</div>
		<div id="bar3">Third sidebar</div>
	</div>
	
	<footer class="bottom">FOOTER</footer>

</body>
</html>